[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python app.py"
infra_up = "docker compose -f infra/docker-compose.yaml up -d"
infra_down = "docker compose -f infra/docker-compose.yaml down"
db_upgrade = "flask db upgrade"
build_prod = "docker compose -f deployments/docker-compose.yaml build"

[packages]
alembic = "~=1.11.1"
boto3 = "~=1.26.157"
botocore = "~=1.29.157"
flask = "~=2.3.2"
flask-cors = "~=4.0.0"
flask-migrate = "~=4.0.4"
flask-sqlalchemy = "~=3.0.3"
langchain = "~=0.0.208"
openai = "~=0.27.8"
pypdf = "~=3.10.0"
sqlalchemy = "~=2.0.16"
sqlalchemy-easy-softdelete = "~=0.8.2"
environs = "==9.5.*"
python-jose = {version = "==3.3.*", extras = ["cryptography"]}
pinecone-client = "~=2.2.2"
psycopg2-binary = "~=2.9.6"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
