.title {
  text-shadow: 2px 2px 10px #36d7b7;
}

.description {
  font-size: 1.15em;
  text-align: justify !important;
}
.bot-animation {
  display: flex;
  justify-content: center;
  align-items: center;
}
