[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
local_invoke = "sam local invoke --event "

[packages]

[dev-packages]
aws-sam-cli = "==1.93.*"

[requires]
python_version = "3.11"
