[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "sam build --use-container"
deploy = "sam deploy --guided"
deploy_front = "sam deploy --template-file template.frontend.yaml --config-file samconfig.frontend.toml --guided"
cognito_post_confirm = "sam local invoke --event events/cognito_post_confirm.json CognitoUserPoolPostConfirmation"

[packages]
psycopg = {version = "==3.1.*", extras = ["binary", "pool"]}

[dev-packages]
aws-sam-cli = "==1.93.*"

[requires]
python_version = "3.11"
