$background-color: #0000;

.ps {
  background-image: none;
}
.cs-conversation-header {
  background-color: #ffffff !important;
}

.cs-conversation-header__user-name {
  background-color: #ffffff !important;
}

.cs-message--outgoing .cs-message__content {
  background-color: var(--background-color);
}

.msg-color {
  background-color: red;
}
.cs-message--incoming .cs-message__content {
  background-color: #f2f2f2;
}

.cs-message-input__content-editor-wrapper {
  background-color: #ffffff !important;
  border: 3px solid #f2f2f2;
}

.cs-message-input__content-editor {
  background-color: #ffffff !important;
}
.cs-main-container {
  border-radius: 5px;
}
.cs-chat-container .cs-message-input {
  border-top: none;
}

.btn-color {
  color: #000;
}

.cs-button--send {
  color: #000;
}
